body {
  padding-top: 80px;
  background-color: #ddc5a2;
  font-family: "Kaushan Script", cursive;
  color: #301b28;
}

.pointer {
  cursor: pointer;
}

.margin-dashboard {
  margin-left: 170px;
}

.modal-content {
  background-color: #ddc5a2;
  border-color: #ddc5a2;
  border-radius: 0.5rem;
}

.accordion-item {
  background-color: #ddc5a2;
  border-color: #ddc5a2;
}
.accordion-button {
  background-color: #ddc5a2;
  border-color: #ddc5a2;
  padding: 0;
}
input {
  background-color: #ddc5a2;
  border-color: #ddc5a2;
}

a {
  color: #b6452c;
}

a:hover {
  color: #301b28;
}

.btn-custom {
  background-color: #b6452c;
  border-color: #b6452c;
  color: #301b28;
}

.btn-custom:hover {
  background-color: #301b28;
  border-color: #301b28;
  color: #b6452c;
}
.btn-custom:disabled {
  background-color: #ddc5a2;
  border-color: #301b28;
}
.btn-custom:active {
  background-color: #ddc5a2 !important;
  border-color: #ddc5a2 !important;
  color: #301b28 !important;
}

.form-control {
  border: solid 2px #523634;
}

.form-control:focus {
  border-color: #b6452c;
  box-shadow: inset 0 1px 1px #b6452c;
}

.form-check-input {
  border: solid 2px #523634;
}
