.title {
  font-size: 50px;
  padding: 100px 0 0 50px;
}

.img {
  background-image: url("./home6.png");
  height: 100%;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home {
  height: calc(100vh - 80px);
}

.text-red {
  color: #b6452c;
}
