/* .form-check-input {
  background-color: red;
  border-color: #301b28;
}
.form-check-input:checked {
  background-color: white;
  border-color: #301b28;
}

.form-check-input:focus {
  border-color: #301b28 !important;
  outline: 0;
  box-shadow: none !important;
} */
