/* .form-check-input {
  background-color: red;
  border-color: #301b28;
}
.form-check-input:checked {
  background-color: white;
  border-color: #301b28;
}

.form-check-input:focus {
  border-color: #301b28 !important;
  outline: 0;
  box-shadow: none !important;
} */

.view-selector {
  width: 8rem;
  margin-right: 2rem;

  background-color: #ddc5a2;
  border-color: #301b28;
}

option:hover {
  background-color: #b6452c;
}
