.nav-bar {
  background-color: #523634;
  position: fixed;
  z-index: 100;
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  top: 0;
}

.label {
  color: #b6452c;
  font-size: 2rem;
  margin: 0 1rem;
}

.no-underline {
  text-decoration: none;
}
