.pet-profile {
  display: flex;
  gap: 60px;
  padding: 60px;
}

.card {
  width: 100%;
}

.profile-img {
  object-fit: contain;
  height: calc(100vh - 200px);

  border: solid 0px;
  border-radius: 0.5rem;
}
