.pet-profile {
  display: flex;
  gap: 6vh;
  padding: 6vh;
  align-items: center;
}

.profile-img {
  object-fit: cover;
  height: calc(88vh - 80px);
  max-width: 60vw;

  border: solid 1px;
  border-radius: 0.5rem;
}

.pet-profile-container {
  display: flex;
  justify-content: center;
}

.pet-profile-card {
  min-width: 400px;
  height: fit-content;
}
